<div class="container">

    <div class="d-flex justify-content-between">
        <div>
            <a [routerLink]="['/']">
                <h1>My Store</h1>
            </a>
        </div>
        <div class="bg-white p-2">
            <a [routerLink]="['/cart']" class="button fancy-button"><i class="bi bi-cart-dash-fill"></i>
                Checkout</a>
        </div>
    </div>

</div>





<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->